@using JobNexus.Core.Models
@using JobNexus.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
@inject CurrentUserService CurrentUser

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Welcome, @profile?.Name |
                    <a href="/logout">Log Out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Log In</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />


@code {

    private Profile? profile;

    protected override async Task OnInitializedAsync()
    {
        profile = await CurrentUser.GetProfileAsync();
    }

}
