<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JobNexus</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
    <NavLink class="nav-link" href="appliedjobs">
        <span class="bi bi-list-task-nav-menu" aria-hidden="true"></span> Applied Jobs
    </NavLink>
</div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="me">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> My Profile
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Search Listings
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profiles">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Profiles
            </NavLink>
        </div>
    </nav>
</div>

