@page "/login"
@using JobNexus.Data
@using JobNexus.Web.ViewModels
@using Microsoft.EntityFrameworkCore
@using Microsoft.IdentityModel.Tokens
@inject IDbContextFactory<JobNexusContext> DbFactory

<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow p-4" style="width: 30rem">
        <div class="card-body">
            <PageTitle>Log In</PageTitle>

            @if (!_errorMessage.IsNullOrEmpty()) {
                <div class="alert alert-danger">@_errorMessage</div>
            }

            <EditForm method="post" Model="Model" OnValidSubmit="HandleLogin" FormName="login-form">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert"/>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <InputText id="username" @bind-Value="Model!.Username" class="form-control"/>
                    <ValidationMessage For="() => Model.Username" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <InputText id="password" type="password" @bind-Value="Model!.Password" class="form-control"/>
                    <ValidationMessage For="() => Model.Password" class="text-danger"/>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </EditForm>            
        </div>
    </div>
    
</div>

@code {
    [SupplyParameterFromForm]
    private LoginModel? Model { get; set; }
    private string? _errorMessage;
    
    protected override void OnInitialized() => Model ??= new();

    private async Task HandleLogin()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        
        // TODO: Add log in code here
        _errorMessage = "Invalid username or password.";
    }
}
