@page "/profiles"
@attribute [Authorize]
@using Microsoft.EntityFrameworkCore
@using JobNexus.Core.Models
@using JobNexus.Data
@using Microsoft.AspNetCore.Authorization
@implements IAsyncDisposable
@inject IDbContextFactory<JobNexusContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="profiles/create">Create New</a>
</p>

<MudDataGrid T="Profile" Items="@_context.Profiles" RowClick="@OnRowClick">
    <Columns>
        <PropertyColumn Property="x => x.UserName" />
        <PropertyColumn Property="x => x.Email" />
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.Bio" />
        <PropertyColumn Property="x => x.Location" />
    </Columns>
</MudDataGrid>

@code {
    private JobNexusContext _context = null!;

    protected override void OnInitialized()
    {
        _context = DbFactory.CreateDbContext();
    }

    private void OnRowClick(DataGridRowClickEventArgs<Profile> args)
    {
        NavigationManager.NavigateTo($"/profiles/details?username={args.Item.UserName}");
    }

    public async ValueTask DisposeAsync() => await _context.DisposeAsync();
}
